<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Choose Chart types</label>
                <select id="chartType" 
                        class="form-control" 
                        name="chartType" 
                        [(ngModel)]="chartType">
                    <option value='bar'>Bar</option>
                    <option value='line'>Line</option>
                </select>
            </div>
            
           
            <canvas baseChart 
            [labels]="xAxesLabels" 
            [legend]="showLegends"
            [chartType]="chartType"
            [datasets]="dataSets" 
            [options]="options">

            </canvas>

            
        </div>
    </div>
</div>
